@model IEnumerable<GuildCars.Models.Tables.Car>

@{
    ViewBag.Title = "Home Page";
}

<!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
-->

<div class="container">

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>*@

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/car.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 id="title">Dodge Sprinter</h3>
                    <p id="description">A Work Horse!</p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/car.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 id="title">Porsche Cayanne</h3>
                    <p id="description">New Sexy Design!</p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/car.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 id="title">Chevy Corvette</h3>
                    <p id="description">A ton of fun!</p>
                </div>
            </div>
        </div>
    </div>

    @*<div class="jumbotron" id="jumbo" style="background-image: url(../../images/)">
            <div class="searchReults">
                <h1 id="title">BIG HUGE SALE</h1>
                <p id="description">      Come on down!</p>
                <p></p>
            </div>
        </div>*@

    <hr />
    <div class="row">
        <div class="col-md-12">
            <h1>Featured Vehicles</h1>

            @foreach (var car in Model)
            {
                if (car.Feature == true)
                {
                    <div class="col-md-3">
                        <div class="span" style="border: 1px solid black">
                            <p class="featurelisting"><img src="@Url.Content("~/images/" + car.ImageFileName)" /></p>
                            <p class="featurelisting">@car.MfgYear @car.MakeName @car.ModelName</p>
                            <p class="featurelisting">@car.SalesPrice.ToString("c")</p>
                            <p class="featurelisting">@Html.ActionLink("view details", "Details", "Inventory", new { carId = @car.CarId }, null)</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                cycle();
                return false;
            });
        });

        function cycle() {

            $.ajax({
                type: 'GET',
                url: 'https://localhost:44313/api/specials/searchspecials' + ,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (index, special) {
                        var html =
                            '<text class="Title" >' + special.Title + '</text>'

                        '<text class="Title" >' + special.Title + '</text>'
                        $('#searchResults').append(html.toString());
                    });

                },
                error: function () {
                    alert('Error performing search, try again later!')
                }
            });
        }
    </script>

    <script>
        $('#myCarousel').on('slide.bs.carousel', function () {
            // do something…
        })
    </script>

    <script>

        $('.carousel').carousel({
            interval: 3000
        })

    </script>
}
