@model GuildCars.UI.Models.VehicleAddViewModel

@{
    ViewBag.Title = "EditVehicle";
}

<div class="row">

    <div class="col-md-12">
        <h1>Edit Vehicle</h1>
        <br />
        @using (Html.BeginForm("UpdateCar", "Admin", FormMethod.Post, new { id = "frmAddVehicle" }))
        {

            <div class="col-md-6">
                <div class="form-group">
                    <label>Make</label>
                    @Html.DropDownListFor(m => m.Car.MakeId, Model.Make, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Type</label>
                    @Html.DropDownListFor(m => m.Car.CarType, Model.CarType, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Year</label>
                    @Html.TextBoxFor(m => m.Car.MfgYear, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Color</label>
                    @Html.DropDownListFor(m => m.Car.Color, Model.Color, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mileage</label>
                    @Html.TextBoxFor(m => m.Car.Mileage, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>MSRP</label>
                    @Html.TextBoxFor(m => m.Car.MSRP, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Model</label>
                    @Html.DropDownListFor(m => m.Car.ModelId, Model.Model, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>BodyStyle:</label>
                    @Html.DropDownListFor(m => m.Car.BodyStyle, Model.BodyStyle, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Transmission</label>
                    @Html.DropDownListFor(m => m.Car.Transmission, Model.Transmission, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Interior</label>
                    @Html.DropDownListFor(m => m.Car.Interior, Model.Interior, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>VIN #</label>
                    @Html.TextBoxFor(m => m.Car.VIN, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Sales Price</label>
                    @Html.TextBoxFor(m => m.Car.SalesPrice, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Car.CarDescription, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Picture</label>
                    <input id="ImageFileName" name="ImageFileName" type="file" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div>
                    <button id="btnPurchase" class="btn btn-default">Save</button>
                </div>
            </div>
        }

    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#frmAddVehicle').validate({
                rules: {
                    'Car.MfgYear': {
                        required: true,
                        min: 4

                    },
                    'Car.CarDescription': {
                        required: true
                    },
                    'Car.VIN': {
                        required: true
                    }
                }
            });
        });
    </script>
}