@model GuildCars.UI.Models.VehicleAddViewModel

@{
    ViewBag.Title = "EditVehicle";
}

<div class="row">

    <div class="col-md-12">
        <h1>Add Vehicle</h1>
        <br />
        @using (Html.BeginForm("EditVehicles", "Cars", FormMethod.Post, new { id = "frmEditVehicle" }))
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label>State</label>
                    @Html.DropDownListFor(m => m.Car.MakeId, Model.Make, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="Type" class="col-md-2 control-label">Type:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="add-type" name="Type">
                            <option value="">- Select Type -</option>
                            <option value="New">New</option>
                            <option value="Used">Used</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    @Html.TextBoxFor(m => m.Car.MfgYear)
                </div>
                <div class="form-group">
                    <label for="Color" class="col-md-2 control-label">Color:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="add-color" name="Color">
                            <option value="">- Select Color -</option>
                            <option value="Red">Red</option>
                            <option value="Silver">Silver</option>
                            <option value="Brown">Brown</option>
                            <option value="Black">Black</option>
                            <option value="Yellow">Yellow</option>
                            <option value="Green">Green</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mileage</label>
                    @Html.TextBoxFor(m => m.Car.Mileage)
                </div>
                <div class="form-group">
                    <label>MSRP</label>
                    @Html.TextBoxFor(m => m.Car.MSRP)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Model</label>
                    @Html.DropDownListFor(m => m.Car.ModelId, Model.Model, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="BodyStyle" class="col-md-2 control-label">Body Style:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="add-bodystyle" name="BodyStyle">
                            <option value="">- Select Body Style -</option>
                            <option value="Sedan">Sedan</option>
                            <option value="Truck">Truck</option>
                            <option value="SUV">SUV</option>
                            <option value="Jeep">Jeep</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Transmission" class="col-md-2 control-label">Transmission:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="add-transmission" name="Transmission">
                            <option value="">- Select Transmission -</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Interior" class="col-md-2 control-label">Interior:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="add-interior" name="Interior">
                            <option value="">- Select Interior -</option>
                            <option value="Tan">Tan</option>
                            <option value="Black">Black</option>
                            <option value="White">White</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>VIN #</label>
                    @Html.TextBoxFor(m => m.Car.VIN)
                </div>
                <div class="form-group">
                    <label>Sales Price</label>
                    @Html.TextBoxFor(m => m.Car.SalesPrice)
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextAreaFor(m => m.Car.CarDescription)
                    </div>
                </div>
                <div class="row">
                    <img src="@Url.Content("~/Images/" + Model.Car.ImageFileName)" />
                    <div class="form-group">
                        <label>Picture</label>
                        <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
                    </div>
                </div>


                <div class="row">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Car.Feature) Feature
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <button id="btnEditVehicle" class="btn btn-default">Save</button>
                </div>
            </div>
        }

    </div>
</div>